!!!
%html
  %head
    = haml :'templates/header_imports'
    %link{:href => "/css/layouts/blog.css", :rel => "stylesheet"}
  %body
    = haml :'templates/nav'
    #layout.pure-g
      .content.pure-u-1.pure-u-md-3-4
