!!!
%html
  %head
    %title Create your own Story
    %link(rel="stylesheet" href="css/styles.css")
    %link(rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css")
    %link(rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css")
    %script(src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js")
  %body
    #wrapper
      #header
        %h1 Create your Story
        %h2 This is a simple tool for helping you generate the JSON-file that is used in TagStory
        
      #content
        %p
          These fields are information
          
        %form{:action => "/story/create", :method => "post", :role => "form"}
          %fieldset
            %div{:class => "form-group"}
              %label{:for => "title"} Title:
              %input{:type => "text", :name => "title", :value => "#{params[:title]}"}

            %div{:class => "form-group"}
              %label{:for => "author"} Author:
              %input{:type => "text", :name => "author"}

            %div{:class => "form-group"}
              %label{:for => "area"} Area:
              %input{:type => "text", :name => "area"}
              
            %div{:class => "form-group"}
              %label{:for => "agegroup"} Agegroup:
              %input{:type => "text", :name => "agegroup"}
              
            %div{:class => "form-group"}
              %label{:for => "genre"} Genre:
              %input{:type => "text", :name => "genre"}
              
            %div{:class => "form-group"}
              %label{:for => "keywords"} Keywords (comma seperated):
              %input{:type => "text", :name => "keywords"}
              
            %div{:class => "form-group"}
              %label{:for => "date"} Date:
              %input{:type => "datetime", :name => "date"}
              
            %div{:class => "form-group"}
              %label{:for => "short-description"} Short description:
              %textarea{:name => "short-description"}
                
            %div{:class => "form-group"}
              %label{:for => "description"} Description:
              %textarea{:name => "description"}
                  
            %div{:class => "form-group"}
              %label{:for => "language"} Language:
              %select
                %option{:value => "nb_NO", :name => "language"} Bokmål
                %option{:value => "ny_NO", :name => "language"} Nynorsk
                %option{:value => "en", :name => "language"} English
                
            %div{:class => "form-group"}
              %input{:type => "submit", :value => "Save", :class => "btn btn-default"}
              %input{:type => "submit", :value => "Add tag", :class => "btn btn-default"}
      #footer
        %p
          This is the footer.
