!!!
%html
  %head
    %title TagStory: Create your own story
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}
    %link{:href => "http://yui.yahooapis.com/pure/0.5.0/pure-min.css", :rel => "stylesheet"}
    %link{:href => "http://yui.yahooapis.com/pure/0.5.0/grids-responsive-min.css", :rel => "stylesheet"}
  %body
    .pure-g
      .pure-u-1-4
      .pure-u-1-2
        %img.pure-img{:src => "/images/tagstory-logo.png"}
      .pure-u-1-4
    .pure-g
      .pure-u-1-4
      .pure-u-1-2
        .pure-menu.pure-menu-open.pure-menu-horizontal
          %ul
            %li.pure-menu-selected
              %a{:href => "/"} Home
            %li
              %a{:href => "/login"} Log in
            %li
              %a{:href => "/mystories/wizard/story"} New story
            %li
              %a{:href => "/stories"} Stories
            %li
              %a{:href => "https://github.com/Kyrremann/TagStory"} Github
      .pure-u-1-4
    .pure-g
      .pure-u-1-4
      .pure-u-1-2
        %p
          Welcome to the TagStory story creator website. Tag Story is a project focusing on getting people in all ages out into the world. This is done by making narrative stories that the user can help to develop by visiting different tags outside. This site aims to make it easier for you to make your own stories!
      .pure-u-1-4
