!!!
%html
  %head
    %title TagStory: Create your own story
    %link(rel="stylesheet" href="css/style.css")
    %link(rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css")
    %link(rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css")
    %script(src="//code.jquery.com/jquery-1.11.0.min.js")
    %script(src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js")
  %body
    %div{:class => ""}
      = haml :"templates/nav"

    %div{:class => "container"}
      %div{:class => "jumbotron"}
        %h1
          Welcome!
        %p
          Welcome to the TagStory story creator website. Tag Story is a project focusing on getting people in all ages out into the world. This is done by making narrative stories that the user can help to develop by visiting different tags outside. This site aims to make it easier for you to make your own stories!
        %p
          %a{:class => "btn btn-primary btn-lg", :role => "button"}
            How to
          %a{:class => "btn btn-primary btn-lg", :role => "button", :href => "http://www.TagStory.no/"}
            Tag Story
