!!!
%html
  %head
    %title TagStory: Create your own story
    %link(rel="stylesheet" href="css/style.css")
    %link(rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css")
    %link(rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css")
    %script(src="//code.jquery.com/jquery-1.11.0.min.js")
    %script(src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js")
  %body
    %div{:class => ""}
      = haml :"templates/nav"

    %div{:id => "content-main", :class => "container"}
      %p
        Welcome #{get_given_name}!
      %p
        In this area you can create a new story, see what stories you have made, and which one you are working on. And of course edit your stories.
      %p
        %a{:href => "/mystories/wizard/story", :class => "btn btn-default"}
          Create a new story
        %a{:href => "/mystories/create/story", :class => "btn btn-default"}
          Create new story (advanced)
      %div{:class => "panel panel-default"}
        %div{:class => "panel-heading"}
          %h3{:class =>"panel-title"}
            Stories you've made
        %table{:class => "table table-striped"}
          %thead
            %tr{:class => "success"}
              %th
                Title
              %th
                Author
              %th
                Date
              %th
                Released
              %th
                .sr-only
                  Action
          %tbody
            - @result["rows"].each do | elem |
              %tr
                %td
                  =elem["fields"]["title"]
                %td
                  =elem["fields"]["author"]
                %td
                  01.01.2014
                %td
                  Released
                %td
                  %a{:href => "/story/" + elem["id"]}
                    view
                  or
                  %a{:href => "/mystories/edit/story/" + elem["id"]}
                    edit
