!!!
%html
  %head
    %title Stories
    %link(rel="stylesheet" href="css/style.css")
    %link(rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css")
    %link(rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css")
    %script(src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js")
  %body
    %div{:class => ""}
      %nav{:class => "navbar navbar-default navbar-static-top", :role => "navigation"}
        %div{:class => "container"}
          %span{:class => "navbar-brand"}
            TagStory
          %ul{:class => "nav navbar-nav"}
            %li
              %a{:href => "/"}
                Home
            %li
              %a{:href => "/create/story"}
                Creat Story
            %li{:class => "active"}
              %a{:href => "/stories"}
                Stories
            %li
              %a{:href => "/help"}
                Help                

    %div{:class => "container"}
      A list of stories will populate a table here, but there are no stories yet...

