!!!
%html
  %head
    %title Stories
    = haml :"templates/header_imports"
  %body
    %div{:class => ""}
      = haml :"templates/nav"

    %div{:class => "container"}
      %div{:class => "panel panel-default"}
        %div{:class => "panel-heading"}
          %h3{:class =>"panel-title"}
            Stories made by users
        %table{:class => "table table-striped"}
          %thead
            %tr{:class => "success"}
              %th
                Author
              %th
                Title
              %th
                .sr_only
                  Action
          - @result["rows"].each do | k |
            %tbody
              %tr
                %th
                  =k["value"]["author"]
                %th
                  =k["value"]["title"]
                %th
                  %a{:href => "story/" + k["id"]}
                    view

