%form{"accept-charset" => "utf-8", :action => "/upload", :enctype => "multipart/form-data", :method => "post"}
  %label{:for => "content_file"} Image
  %input#content_file{:name => "content[file]", :type => "file"}/
  %button{:type => "submit"} Save
