!!!
%html
  %head
    %title Stories
    = haml :"templates/header_imports"
  %body
    %div{:class => ""}
      = haml :"templates/nav"

    %div{:class => "container"}
      %div{:class => "panel panel-default"}
        %div{:class => "panel-heading"}
          %h3{:class =>"panel-title"}
            Story wizard - Part II

        %div{:class => "panel-body"}
          As mention a story consist of several tags. Each tag is unique and can point to any number of other tags using directions (options).
          A tag can also contain a 'game mode', either as a quiz with a set numbers of "yes and no"-questions, or letting the user take a picture
          and share it either over e-mail or social medias.
          
      %div{:class => "panel panel-default"}
        %div{:class => "panel-heading"}
          %h3{:class =>"panel-title"}
            The first tag
        %div{:class => "panel-body"}
          %form{:action => "/mystories/edit/story", :method => "post", :role => "form", :class => "form-horizontal"}
            %fieldset
              %div{:class => "row form-group"}
                %div{:class => "col-md-3"}
                  %label{:for => "title", :class => "no-bold"} 
                    Every tag needs a title:
                %input{:type => "text", :name => "title", :value => "#{params['title']}"}
                
              %div{:class => "row form-group"}
                %div{:class => "col-md-3"}
                  %label{:for => "title", :class => "no-bold"} 
                    description:
                %textarea{:name => "description"}
                  #{params['description']}

              %p
                Choose time!
                %br
                Do you want the user to take a photo on this tag, make a quiz with several question, or just tell part of a story or ask a question?
                
            %br
            %a{:href => "/mystories/wizard/tag/camera", :class => "btn btn-default"}
              Camera
            %a{:href => "/mystories/wizard/tag/quiz", :class => "btn btn-default"}
              Quiz
            %a{:href => "/mystories/wizard/tag/direction", :class => "btn btn-default"}
              Story or single question
