%meta{:charset => "utf-8"}
%meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
%meta{:content => "A layout example that shows off a responsive product landing page.", :name => "description"}
%title TagStory &ndash; Create your own story
%link{:href => "/images/favicon.ico", :rel => "shortcut icon", :type => "image/x-icon"}
%link{:href => "/images/favicon.ico", :rel => "icon", :type => "image/x-icon"}

%script{:src => "/js/opentip-native.min.js"}

%link{:href => "/css/opentip.css", :rel => "stylesheet"}
/ %link{:href => "/css/pure-min.css", :rel => "stylesheet"}
%link{:href => "https://yui-s.yahooapis.com/pure/0.6.0/pure-min.css", :rel => "stylesheet"}
/ %link{:href => "/css/grids-responsive-min.css", :rel => "stylesheet"}
%link{:href => "https://yui-s.yahooapis.com/pure/0.6.0/grids-responsive-min.css", :rel => "stylesheet"}
%link{:href => "/css/style.css", :rel => "stylesheet"}
%link{:href => "/css/responsive-menu.css", :rel => "stylesheet"}

%link{:href => "https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css", :rel => "stylesheet"}
