.pure-g
  .pure-u-1-4
  .pure-u-1-2
    %img.pure-img{:src => "/images/tagstory-logo.png"}
  .pure-u-1-4
.pure-g
  .pure-u-1-4
  .pure-u-1-2
    .pure-menu.pure-menu-open.pure-menu-horizontal
      %ul
        %li.pure-menu-selected
          %a{:href => "/"} Home
        - unless logged_in?
          %li
            %a{:href => "/login"} Log in
        - if logged_in?
          %li
            %a{:href => "/mystories"} My stories
          %li
            %a{:href => "/stories"} Stories
        %li
          %a{:href => "https://github.com/Kyrremann/TagStory"} Github
  .pure-u-1-4n
